
body {
    padding-top: 1.2rem;
  }
  .starter-template {
    padding: 2rem 1.2rem;
    text-align: left;
  }
  
  h1{
      color:#0000FF;
  }
  
  h2{
      color:#045626;
  }
  
  h3{
    color:#40015f;
  }