<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>DOC1 Explore</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div class="starter-template">
        <h1>Development Container for Java Backend</h1>
        <h2>
            <span th:text="'Hi Group-' + ${group} + ', '"></span>
        </h2>
        <h3>Feel free to use this Dev Container for your SEP4 project, but make a clone first!!!</h3>

        <h2>
            <span th:text=" ${arch} "></span>
        </h2>
    </div>
    <div class="starter-template">
        <h2>
            <span th:text=" ${arch} "></span>
        </h2>
    </div>
</body>
</html>